# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_PROJECT_ID=""
SANITY_DATASET=""
SANITY_API_VERSION="v1"
SANITY_READ_TOKEN=""